.bigBangSchemas/DMLApplicationConstant.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.bigbang.io/dml/applicationConstant" xmlns:bb="http://www.bigbang.io/dml/applicationConstant">
  <xs:element name="configuration">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="applicationConstant" type="bb:DMLApplicationConstant" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="DMLApplicationConstant">
    <xs:all>
      <xs:element name="constants">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element name="constant" type="bb:DMLApplicationConstantItem" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="DMLApplicationConstantItem">
    <xs:all>
      <xs:element name="value" minOccurs="1" maxOccurs="1" type="xs:string" />
    </xs:all>
    <xs:attribute name="key" use="required" type="xs:string" />
  </xs:complexType>
  <xs:simpleType name="BBDuration">
    <xs:annotation>
      <xs:documentation>pattern is (D.HH:MM:SS | D) In which D is days, HH is 2-digit 00-24 hour, MM is 2-digit 00-59 minute and SS is 2-digit second 00-59</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="^\d+|(\d+\.)?([01]\d|2[0-3]):([0-5]\d)(:[0-5]\d)?$" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>