.bigBangSchemas/DMLCustomSiteItem.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.bigbang.io/dml/customSiteItem" xmlns:bb="http://www.bigbang.io/dml/customSiteItem">
  <xs:element name="configuration">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="customSiteItem" type="bb:DMLCustomSiteItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="DMLCustomSiteItem">
    <xs:attribute name="assembly" use="required" type="xs:string" />
    <xs:attribute name="jsResourceName" use="required" type="xs:string" />
    <xs:attribute name="serviceName" use="optional" type="xs:string" />
    <xs:attribute name="templateResourceName" use="optional" type="xs:string" />
    <xs:attribute name="styleResourceName" use="optional" type="xs:string" />
    <xs:attribute name="type" type="bb:DMLSiteType" use="optional" />
    <xs:attribute name="align" type="bb:DMLSiteAlign" use="optional" />
    <xs:attribute name="order" use="optional" type="xs:int" />
  </xs:complexType>
  <xs:simpleType name="DMLSiteType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="MainMenu" />
      <xs:enumeration value="Sidebar" />
      <xs:enumeration value="Footer" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="DMLSiteAlign">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Start" />
      <xs:enumeration value="End" />
      <xs:enumeration value="Center" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="BBDuration">
    <xs:annotation>
      <xs:documentation>pattern is (D.HH:MM:SS | D) In which D is days, HH is 2-digit 00-24 hour, MM is 2-digit 00-59 minute and SS is 2-digit second 00-59</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="^\d+|(\d+\.)?([01]\d|2[0-3]):([0-5]\d)(:[0-5]\d)?$" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>