.bigBangSchemas/DMLCustomView.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.bigbang.io/dml/customView" xmlns:bb="http://www.bigbang.io/dml/customView">
  <xs:element name="configuration">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="customView" type="bb:DMLCustomView" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="DMLCustomView">
    <xs:all>
      <xs:element name="description" minOccurs="0" maxOccurs="1" type="xs:string" />
      <xs:element name="configs" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element name="config" type="bb:DMLCustomViewConfig" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:all>
    <xs:attribute name="name" use="required" type="xs:string" />
    <xs:attribute name="displayName" use="optional" type="xs:string" />
    <xs:attribute name="service" use="optional" type="xs:string" />
    <xs:attribute name="assembly" use="required" type="xs:string" />
    <xs:attribute name="jsResourceName" use="required" type="xs:string" />
    <xs:attribute name="templateResourceName" use="optional" type="xs:string" />
    <xs:attribute name="styleResourceName" use="optional" type="xs:string" />
    <xs:attribute name="isActive" use="optional" type="xs:boolean" />
    <xs:attribute name="aliasName" use="optional" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="DMLCustomViewConfig">
    <xs:all>
      <xs:element name="expression" minOccurs="1" maxOccurs="1" type="xs:string" />
    </xs:all>
    <xs:attribute name="name" use="required" type="xs:string" />
  </xs:complexType>
  <xs:simpleType name="BBDuration">
    <xs:annotation>
      <xs:documentation>pattern is (D.HH:MM:SS | D) In which D is days, HH is 2-digit 00-24 hour, MM is 2-digit 00-59 minute and SS is 2-digit second 00-59</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="^\d+|(\d+\.)?([01]\d|2[0-3]):([0-5]\d)(:[0-5]\d)?$" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>