.bigBangSchemas/DMLExtendedModule.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.bigbang.io/dml/extendedModule" xmlns:bb="http://www.bigbang.io/dml/extendedModule">
  <xs:element name="configuration">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="extendedModule" type="bb:DMLExtendedModule" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="DMLExtendedModule">
    <xs:attribute name="name" use="required" type="xs:string" />
    <xs:attribute name="isActive" use="optional" type="xs:boolean" />
  </xs:complexType>
  <xs:simpleType name="BBDuration">
    <xs:annotation>
      <xs:documentation>pattern is (D.HH:MM:SS | D) In which D is days, HH is 2-digit 00-24 hour, MM is 2-digit 00-59 minute and SS is 2-digit second 00-59</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="^\d+|(\d+\.)?([01]\d|2[0-3]):([0-5]\d)(:[0-5]\d)?$" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>