.bigBangSchemas/DMLExtendedReportModel.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.bigbang.io/dml/extendedReport" xmlns:bb="http://www.bigbang.io/dml/extendedReport">
  <xs:element name="configuration">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="extendedReportModel" type="bb:DMLExtendedReportModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="DMLExtendedReportModel">
    <xs:all>
      <xs:element name="printTemplates" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element name="printTemplate" type="bb:DMLPrintTemplate" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="deactivatedPrintTemplate" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element name="deactivatedPrintTemplate" type="bb:DMLDeactivatedPrintTemplate" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:all>
    <xs:attribute name="name" use="required" type="xs:string" />
    <xs:attribute name="isActive" use="optional" type="xs:boolean" />
  </xs:complexType>
  <xs:complexType name="DMLPrintTemplate">
    <xs:all>
      <xs:element name="description" minOccurs="0" maxOccurs="1" type="xs:string" />
      <xs:element name="provider" type="bb:DMLPrintProvider" />
      <xs:element name="parameters" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element name="parameter" type="bb:DMLParameter" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="bindings" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element name="property" type="bb:DMLPrintPropertyToParameterBinding" />
            <xs:element name="parameter" type="bb:DMLPrintParameterToParameterBinding" />
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="icon" type="bb:DMLIcon" minOccurs="0" maxOccurs="1" />
      <xs:element name="relativeSecurityItems" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element name="customOperation" type="bb:DMLCustomOperationSecurityMember" />
            <xs:element name="serviceMethod" type="bb:DMLServiceMethodSecurityMember" />
            <xs:element name="service" type="bb:DMLServiceSecurityMember" />
            <xs:element name="customTask" type="bb:DMLTaskSecurityMember" />
            <xs:element name="create" type="bb:DMLEntityCreateSecurityMember" />
            <xs:element name="customCommand" type="bb:DMLEntityCustomCommandSecurityMember" />
            <xs:element name="delete" type="bb:DMLEntityDeleteSecurityMember" />
            <xs:element name="log" type="bb:DMLEntityLogSecurityMember" />
            <xs:element name="entityPrint" type="bb:DMLEntityPrintSecurityMember" />
            <xs:element name="read" type="bb:DMLEntityReadSecurityMember" />
            <xs:element name="entity" type="bb:DMLEntitySecurityTaskMember" />
            <xs:element name="stateHistory" type="bb:DMLEntityStateHistorySecurityMember" />
            <xs:element name="transition" type="bb:DMLEntityTransitionSecurityMember" />
            <xs:element name="update" type="bb:DMLEntityUpdateSecurityMember" />
            <xs:element name="form" type="bb:DMLFormSecurityMember" />
            <xs:element name="globalCommand" type="bb:DMLGlobalCommandSecurityMember" />
            <xs:element name="process" type="bb:DMLProcessSecurityMember" />
            <xs:element name="report" type="bb:DMLReportSecurityMember" />
          </xs:choice>
        </xs:complexType>
      </xs:element>
    </xs:all>
    <xs:attribute name="name" use="required" type="xs:string" />
    <xs:attribute name="displayName" use="optional" type="xs:string" />
    <xs:attribute name="sourceLoaderType" use="optional" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="DMLPrintProvider">
    <xs:choice>
      <xs:element name="crystal" type="bb:DMLCrystalReportPrintProvider" />
      <xs:element name="stimulSoft" type="bb:DMLStimulSoftReportPrintProvider" />
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="DMLCrystalReportPrintProvider">
    <xs:all>
      <xs:element name="template">
        <xs:complexType>
          <xs:attribute name="x-key" type="xs:string" />
        </xs:complexType>
      </xs:element>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="DMLStimulSoftReportPrintProvider">
    <xs:all>
      <xs:element name="template">
        <xs:complexType>
          <xs:attribute name="x-key" type="xs:string" />
        </xs:complexType>
      </xs:element>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="DMLParameter">
    <xs:all>
      <xs:element name="description" minOccurs="0" maxOccurs="1" type="xs:string" />
      <xs:element name="editor" type="bb:DMLFieldEditor" minOccurs="0" maxOccurs="1" />
      <xs:element name="parameterType" type="bb:DMLFieldDataType" minOccurs="0" maxOccurs="1" />
      <xs:element name="validations" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element name="notNull" type="bb:DMLNotNullFieldValidator" />
            <xs:element name="jsonSchema" type="bb:DMLJsonSchemaFieldValidator" />
            <xs:element name="binary" type="bb:DMLBinaryFieldValidator" />
            <xs:element name="string" type="bb:DMLStringFieldValidator" />
            <xs:element name="regex" type="bb:DMLRegularExpressionFieldValidator" />
            <xs:element name="custom" type="bb:DMLCustomValidator" />
          </xs:choice>
        </xs:complexType>
      </xs:element>
    </xs:all>
    <xs:attribute name="name" use="required" type="xs:string" />
    <xs:attribute name="displayName" use="optional" type="xs:string" />
    <xs:attribute name="allowNull" use="optional" type="xs:boolean" />
    <xs:attribute name="sourceType" type="bb:DMLCommandParameterSourceType" use="optional" />
    <xs:attribute name="multiplicity" type="bb:DMLCommandParameterValueMultiplicity" use="optional" />
    <xs:attribute name="order" use="optional" type="xs:int" />
    <xs:attribute name="ignoreGlobalFilter" use="optional" type="xs:boolean" />
    <xs:attribute name="isReadOnly" use="optional" type="xs:boolean" />
    <xs:attribute name="isVisible" use="optional" type="xs:boolean" />
    <xs:attribute name="logHistory" use="optional" type="xs:boolean" />
  </xs:complexType>
  <xs:simpleType name="DMLCommandParameterSourceType">
    <xs:annotation>
      <xs:documentation>Source type of parameter</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="This">
        <xs:annotation>
          <xs:documentation>Locate parameter data from the property of selected entity.(this type is valid for model command and transition)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Self">
        <xs:annotation>
          <xs:documentation>The selected entity will be assigned to parameter.(this type is valid for model command and transition)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="SystemDefined">
        <xs:annotation>
          <xs:documentation>System parameter like user id or cop</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="UserDefined">
        <xs:annotation>
          <xs:documentation>This type of parameter will be resolved from user entry</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="DMLCommandParameterValueMultiplicity">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Single" />
      <xs:enumeration value="Multi" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="DMLFieldEditor">
    <xs:choice>
      <xs:element name="color" type="bb:DMLColorEditor" />
      <xs:element name="audio" type="bb:DMLAudioEditor" />
      <xs:element name="json" type="bb:DMLJsonEditor" />
      <xs:element name="html" type="bb:DMLHtmlEditor" />
      <xs:element name="keyValue" type="bb:DMLKeyValueEditor" />
      <xs:element name="manyToMany" type="bb:DMLManyToManyEditor" />
      <xs:element name="list" type="bb:DMLListEditor" />
      <xs:element name="cron" type="bb:DMLCronEditor" />
      <xs:element name="boolean" type="bb:DMLBooleanEditor" />
      <xs:element name="crossReference" type="bb:DMLCrossReferenceModelEditor" />
      <xs:element name="custom" type="bb:DMLCustomEditor" />
      <xs:element name="date" type="bb:DMLDateEditor" />
      <xs:element name="dateTime" type="bb:DMLDateTimeEditor" />
      <xs:element name="duration" type="bb:DMLDurationEditor" />
      <xs:element name="file" type="bb:DMLFileEditor" />
      <xs:element name="image" type="bb:DMLImageEditor" />
      <xs:element name="model" type="bb:DMLModelEditor" />
      <xs:element name="numerical" type="bb:DMLNumericalEditor" />
      <xs:element name="enum" type="bb:DMLEnumEditor" />
      <xs:element name="state" type="bb:DMLStateEditor" />
      <xs:element name="string" type="bb:DMLStringEditor" />
      <xs:element name="time" type="bb:DMLTimeEditor" />
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="DMLColorEditor">
    <xs:attribute name="width" use="optional" type="xs:string" />
    <xs:attribute name="height" use="optional" type="xs:string" />
    <xs:attribute name="direction" type="bb:DMLDirection" use="optional" />
    <xs:attribute name="viewMode" type="bb:DMLEditorViewMode" use="optional" />
  </xs:complexType>
  <xs:simpleType name="DMLDirection">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Default" />
      <xs:enumeration value="RightToLeft" />
      <xs:enumeration value="LeftToRight" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="DMLEditorViewMode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Default" />
      <xs:enumeration value="ViewOnly" />
      <xs:enumeration value="InLineEdit" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="DMLAudioEditor">
    <xs:attribute name="isDownloadCapable" use="optional" type="xs:boolean" />
    <xs:attribute name="audioRecordingFormat" type="bb:DMLAudioRecordingFormat" use="optional" />
    <xs:attribute name="audioInputMethod" type="bb:DMLAudioInputMethod" use="optional" />
    <xs:attribute name="width" use="optional" type="xs:string" />
    <xs:attribute name="height" use="optional" type="xs:string" />
    <xs:attribute name="direction" type="bb:DMLDirection" use="optional" />
    <xs:attribute name="viewMode" type="bb:DMLEditorViewMode" use="optional" />
  </xs:complexType>
  <xs:simpleType name="DMLAudioRecordingFormat">
    <xs:restriction base="xs:string">
      <xs:enumeration value="WebM" />
      <xs:enumeration value="Ogg" />
      <xs:enumeration value="Wave" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="DMLAudioInputMethod">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Both" />
      <xs:enumeration value="RecordOnly" />
      <xs:enumeration value="AddFileOnly" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="DMLJsonEditor">
    <xs:attribute name="showTemplateSelector" use="optional" type="xs:boolean">
      <xs:annotation>
        <xs:documentation>Enalbled by default</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="showGrouping" use="optional" type="xs:boolean">
      <xs:annotation>
        <xs:documentation>Disabled by default</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="width" use="optional" type="xs:string" />
    <xs:attribute name="height" use="optional" type="xs:string" />
    <xs:attribute name="direction" type="bb:DMLDirection" use="optional" />
    <xs:attribute name="viewMode" type="bb:DMLEditorViewMode" use="optional" />
  </xs:complexType>
  <xs:complexType name="DMLHtmlEditor">
    <xs:attribute name="maxLength" use="optional" type="xs:int" />
    <xs:attribute name="width" use="optional" type="xs:string" />
    <xs:attribute name="height" use="optional" type="xs:string" />
    <xs:attribute name="direction" type="bb:DMLDirection" use="optional" />
    <xs:attribute name="viewMode" type="bb:DMLEditorViewMode" use="optional" />
  </xs:complexType>
  <xs:complexType name="DMLKeyValueEditor">
    <xs:all>
      <xs:element name="valueEditor" type="bb:DMLFieldEditor" />
    </xs:all>
    <xs:attribute name="width" use="optional" type="xs:string" />
    <xs:attribute name="height" use="optional" type="xs:string" />
    <xs:attribute name="direction" type="bb:DMLDirection" use="optional" />
    <xs:attribute name="viewMode" type="bb:DMLEditorViewMode" use="optional" />
  </xs:complexType>
  <xs:complexType name="DMLManyToManyEditor">
    <xs:attribute name="preventDuplicate" use="optional" type="xs:boolean" />
    <xs:attribute name="totalLoadCount" use="optional" type="xs:int" />
    <xs:attribute name="debounceRate" use="optional" type="xs:int" />
    <xs:attribute name="width" use="optional" type="xs:string" />
    <xs:attribute name="height" use="optional" type="xs:string" />
    <xs:attribute name="direction" type="bb:DMLDirection" use="optional" />
    <xs:attribute name="viewMode" type="bb:DMLEditorViewMode" use="optional" />
  </xs:complexType>
  <xs:complexType name="DMLListEditor">
    <xs:all>
      <xs:element name="elementEditor" type="bb:DMLFieldEditor" />
    </xs:all>
    <xs:attribute name="width" use="optional" type="xs:string" />
    <xs:attribute name="height" use="optional" type="xs:string" />
    <xs:attribute name="direction" type="bb:DMLDirection" use="optional" />
    <xs:attribute name="viewMode" type="bb:DMLEditorViewMode" use="optional" />
  </xs:complexType>
  <xs:complexType name="DMLCronEditor">
    <xs:attribute name="secondsSupported" use="optional" type="xs:boolean" />
    <xs:attribute name="width" use="optional" type="xs:string" />
    <xs:attribute name="height" use="optional" type="xs:string" />
    <xs:attribute name="direction" type="bb:DMLDirection" use="optional" />
    <xs:attribute name="viewMode" type="bb:DMLEditorViewMode" use="optional" />
  </xs:complexType>
  <xs:complexType name="DMLBooleanEditor">
    <xs:attribute name="editorType" type="bb:DMLBooleanEditorType" use="optional" />
    <xs:attribute name="width" use="optional" type="xs:string" />
    <xs:attribute name="height" use="optional" type="xs:string" />
    <xs:attribute name="direction" type="bb:DMLDirection" use="optional" />
    <xs:attribute name="viewMode" type="bb:DMLEditorViewMode" use="optional" />
  </xs:complexType>
  <xs:simpleType name="DMLBooleanEditorType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CheckBox" />
      <xs:enumeration value="ComboBox" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="DMLCrossReferenceModelEditor">
    <xs:all>
      <xs:element name="businessContext" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element name="businessContextItem" type="bb:DMLBusinessContextItem" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:all>
    <xs:attribute name="isReferenceModelsVisible" use="optional" type="xs:boolean" />
    <xs:attribute name="isCompactMode" use="optional" type="xs:boolean" />
    <xs:attribute name="newItem" type="bb:DMLModelEditorButtonDisplayMode" use="optional" />
    <xs:attribute name="searchMore" type="bb:DMLModelEditorButtonDisplayMode" use="optional" />
    <xs:attribute name="openForm" type="bb:DMLModelEditorButtonDisplayMode" use="optional" />
    <xs:attribute name="showLocateForm" use="optional" type="xs:boolean" />
    <xs:attribute name="totalLoadCount" use="optional" type="xs:int" />
    <xs:attribute name="model" use="optional" type="xs:string" />
    <xs:attribute name="isAutoCreateActive" use="optional" type="xs:boolean" />
    <xs:attribute name="cascadeBusinessContext" use="optional" type="xs:boolean" />
    <xs:attribute name="cascadeParameterContext" use="optional" type="xs:boolean" />
    <xs:attribute name="stringPropertySearchOperator" type="bb:DMLStringPropertySearchOperator" use="optional" />
    <xs:attribute name="debounceRate" use="optional" type="xs:int" />
    <xs:attribute name="width" use="optional" type="xs:string" />
    <xs:attribute name="height" use="optional" type="xs:string" />
    <xs:attribute name="direction" type="bb:DMLDirection" use="optional" />
    <xs:attribute name="viewMode" type="bb:DMLEditorViewMode" use="optional" />
  </xs:complexType>
  <xs:simpleType name="DMLModelEditorButtonDisplayMode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Show" />
      <xs:enumeration value="Hide" />
      <xs:enumeration value="Auto" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="DMLBusinessContextItem">
    <xs:all>
      <xs:element name="value" minOccurs="1" maxOccurs="1" type="xs:string">
        <xs:annotation>
          <xs:documentation>Expression for business context value</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:all>
    <xs:attribute name="name" use="required" type="xs:string" />
  </xs:complexType>
  <xs:simpleType name="DMLStringPropertySearchOperator">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Contains" />
      <xs:enumeration value="Equal" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="DMLCustomEditor">
    <xs:all>
      <xs:element name="configs" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element name="config" type="bb:DMLCustomEditorConfig" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:all>
    <xs:attribute name="name" use="required" type="xs:string" />
    <xs:attribute name="editorType" type="bb:DMLCustomEditorType" use="optional" />
    <xs:attribute name="width" use="optional" type="xs:string" />
    <xs:attribute name="height" use="optional" type="xs:string" />
    <xs:attribute name="direction" type="bb:DMLDirection" use="optional" />
    <xs:attribute name="viewMode" type="bb:DMLEditorViewMode" use="optional" />
  </xs:complexType>
  <xs:simpleType name="DMLCustomEditorType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Inline" />
      <xs:enumeration value="Dialog" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="DMLCustomEditorConfig">
    <xs:all>
      <xs:element name="expression" minOccurs="1" maxOccurs="1" type="xs:string" />
    </xs:all>
    <xs:attribute name="name" use="required" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="DMLDateEditor">
    <xs:attribute name="width" use="optional" type="xs:string" />
    <xs:attribute name="height" use="optional" type="xs:string" />
    <xs:attribute name="direction" type="bb:DMLDirection" use="optional" />
    <xs:attribute name="viewMode" type="bb:DMLEditorViewMode" use="optional" />
  </xs:complexType>
  <xs:complexType name="DMLDateTimeEditor">
    <xs:attribute name="width" use="optional" type="xs:string" />
    <xs:attribute name="height" use="optional" type="xs:string" />
    <xs:attribute name="direction" type="bb:DMLDirection" use="optional" />
    <xs:attribute name="viewMode" type="bb:DMLEditorViewMode" use="optional" />
  </xs:complexType>
  <xs:complexType name="DMLDurationEditor">
    <xs:attribute name="editorType" type="bb:DMLDurationEditorType" use="optional" />
    <xs:attribute name="width" use="optional" type="xs:string" />
    <xs:attribute name="height" use="optional" type="xs:string" />
    <xs:attribute name="direction" type="bb:DMLDirection" use="optional" />
    <xs:attribute name="viewMode" type="bb:DMLEditorViewMode" use="optional" />
  </xs:complexType>
  <xs:simpleType name="DMLDurationEditorType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Second" />
      <xs:enumeration value="Minute" />
      <xs:enumeration value="Hour" />
      <xs:enumeration value="Day" />
      <xs:enumeration value="DayHour" />
      <xs:enumeration value="DayHourMinute" />
      <xs:enumeration value="DayHourMinuteSecond" />
      <xs:enumeration value="HourMinute" />
      <xs:enumeration value="HourMinuteSecond" />
      <xs:enumeration value="MinuteSecond" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="DMLFileEditor">
    <xs:attribute name="isDownloadable" use="optional" type="xs:boolean" />
    <xs:attribute name="width" use="optional" type="xs:string" />
    <xs:attribute name="height" use="optional" type="xs:string" />
    <xs:attribute name="direction" type="bb:DMLDirection" use="optional" />
    <xs:attribute name="viewMode" type="bb:DMLEditorViewMode" use="optional" />
  </xs:complexType>
  <xs:complexType name="DMLImageEditor">
    <xs:attribute name="isDownloadable" use="optional" type="xs:boolean" />
    <xs:attribute name="width" use="optional" type="xs:string" />
    <xs:attribute name="height" use="optional" type="xs:string" />
    <xs:attribute name="direction" type="bb:DMLDirection" use="optional" />
    <xs:attribute name="viewMode" type="bb:DMLEditorViewMode" use="optional" />
  </xs:complexType>
  <xs:complexType name="DMLModelEditor">
    <xs:all>
      <xs:element name="formatting" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element name="constant" type="bb:DMLModelFormattingConstant" />
            <xs:element name="property" type="bb:DMLModelFormattingProperty" />
            <xs:element name="dynamic" type="bb:DMLModelFormattingExpression" />
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="businessContext" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element name="businessContextItem" type="bb:DMLBusinessContextItem" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:all>
    <xs:attribute name="newItem" type="bb:DMLModelEditorButtonDisplayMode" use="optional" />
    <xs:attribute name="searchMore" type="bb:DMLModelEditorButtonDisplayMode" use="optional" />
    <xs:attribute name="openForm" type="bb:DMLModelEditorButtonDisplayMode" use="optional" />
    <xs:attribute name="showLocateForm" use="optional" type="xs:boolean" />
    <xs:attribute name="totalLoadCount" use="optional" type="xs:int" />
    <xs:attribute name="model" use="optional" type="xs:string" />
    <xs:attribute name="editorType" type="bb:DMLModelEditorType" use="optional" />
    <xs:attribute name="presentForm" use="optional" type="xs:string" />
    <xs:attribute name="searchForm" use="optional" type="xs:string" />
    <xs:attribute name="isAutoCreateActive" use="optional" type="xs:boolean" />
    <xs:attribute name="cascadeBusinessContext" use="optional" type="xs:boolean" />
    <xs:attribute name="cascadeParameterContext" use="optional" type="xs:boolean" />
    <xs:attribute name="stringPropertySearchOperator" type="bb:DMLStringPropertySearchOperator" use="optional" />
    <xs:attribute name="debounceRate" use="optional" type="xs:int" />
    <xs:attribute name="width" use="optional" type="xs:string" />
    <xs:attribute name="height" use="optional" type="xs:string" />
    <xs:attribute name="direction" type="bb:DMLDirection" use="optional" />
    <xs:attribute name="viewMode" type="bb:DMLEditorViewMode" use="optional" />
  </xs:complexType>
  <xs:simpleType name="DMLModelEditorType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ComboBox" />
      <xs:enumeration value="Lookup" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="DMLModelFormattingConstant">
    <xs:attribute name="value" use="required" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="DMLModelFormattingProperty">
    <xs:attribute name="name" use="required" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="DMLModelFormattingExpression">
    <xs:all>
      <xs:element name="expression" minOccurs="1" maxOccurs="1" type="xs:string" />
    </xs:all>
  </xs:complexType>
  <xs:complexType name="DMLNumericalEditor">
    <xs:attribute name="decimalPlaces" use="optional" type="xs:int" />
    <xs:attribute name="decimalCharacter" use="optional" type="xs:string" />
    <xs:attribute name="decimalCharacterAlternate" use="optional" type="xs:string" />
    <xs:attribute name="currencySymbol" type="bb:DMLSymbol" use="optional" />
    <xs:attribute name="currencySymbolPosition" type="bb:DMLSymbolPosition" use="optional" />
    <xs:attribute name="digitGroupSeparator" use="optional" type="xs:string" />
    <xs:attribute name="isDigitGrouping" use="optional" type="xs:boolean" />
    <xs:attribute name="minValue" use="optional" type="xs:decimal" />
    <xs:attribute name="maxValue" use="optional" type="xs:decimal" />
    <xs:attribute name="width" use="optional" type="xs:string" />
    <xs:attribute name="height" use="optional" type="xs:string" />
    <xs:attribute name="direction" type="bb:DMLDirection" use="optional" />
    <xs:attribute name="viewMode" type="bb:DMLEditorViewMode" use="optional" />
  </xs:complexType>
  <xs:simpleType name="DMLSymbol">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Rial" />
      <xs:enumeration value="Doller" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="DMLSymbolPosition">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Left" />
      <xs:enumeration value="Right" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="DMLEnumEditor">
    <xs:attribute name="sortType" type="bb:DMLEnumSortType" use="optional" />
    <xs:attribute name="width" use="optional" type="xs:string" />
    <xs:attribute name="height" use="optional" type="xs:string" />
    <xs:attribute name="direction" type="bb:DMLDirection" use="optional" />
    <xs:attribute name="viewMode" type="bb:DMLEditorViewMode" use="optional" />
  </xs:complexType>
  <xs:simpleType name="DMLEnumSortType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Index" />
      <xs:enumeration value="Value" />
      <xs:enumeration value="DisplayNameOrName" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="DMLStateEditor">
    <xs:attribute name="width" use="optional" type="xs:string" />
    <xs:attribute name="height" use="optional" type="xs:string" />
    <xs:attribute name="direction" type="bb:DMLDirection" use="optional" />
    <xs:attribute name="viewMode" type="bb:DMLEditorViewMode" use="optional" />
  </xs:complexType>
  <xs:complexType name="DMLStringEditor">
    <xs:attribute name="multiline" use="optional" type="xs:boolean" />
    <xs:attribute name="isPassword" use="optional" type="xs:boolean" />
    <xs:attribute name="maxLength" use="optional" type="xs:int" />
    <xs:attribute name="width" use="optional" type="xs:string" />
    <xs:attribute name="height" use="optional" type="xs:string" />
    <xs:attribute name="direction" type="bb:DMLDirection" use="optional" />
    <xs:attribute name="viewMode" type="bb:DMLEditorViewMode" use="optional" />
  </xs:complexType>
  <xs:complexType name="DMLTimeEditor">
    <xs:attribute name="editorType" type="bb:DMLTimeEditorType" use="optional" />
    <xs:attribute name="width" use="optional" type="xs:string" />
    <xs:attribute name="height" use="optional" type="xs:string" />
    <xs:attribute name="direction" type="bb:DMLDirection" use="optional" />
    <xs:attribute name="viewMode" type="bb:DMLEditorViewMode" use="optional" />
  </xs:complexType>
  <xs:simpleType name="DMLTimeEditorType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Second" />
      <xs:enumeration value="Minute" />
      <xs:enumeration value="Hour" />
      <xs:enumeration value="HourMinute" />
      <xs:enumeration value="HourMinuteSecond" />
      <xs:enumeration value="MinuteSecond" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="DMLFieldDataType">
    <xs:choice>
      <xs:element name="object" type="bb:DMLObjectFieldDataType" />
      <xs:element name="dictionary" type="bb:DMLDictionaryFieldDataType" />
      <xs:element name="model" type="bb:DMLModelFieldDataType" />
      <xs:element name="crossReference" type="bb:DMLCrossReferenceFieldDataType" />
      <xs:element name="list" type="bb:DMLListFieldDataType" />
      <xs:element name="guid" type="bb:DMLGuidFieldDataType" />
      <xs:element name="string" type="bb:DMLStringFieldDataType" />
      <xs:element name="dateTime" type="bb:DMLDateTimeFieldDataType" />
      <xs:element name="boolean" type="bb:DMLBooleanFieldDataType" />
      <xs:element name="byte" type="bb:DMLByteFieldDataType" />
      <xs:element name="short" type="bb:DMLShortFieldDataType" />
      <xs:element name="int" type="bb:DMLIntFieldDataType" />
      <xs:element name="long" type="bb:DMLLongFieldDataType" />
      <xs:element name="float" type="bb:DMLFloatFieldDataType" />
      <xs:element name="decimal" type="bb:DMLDecimalFieldDataType" />
      <xs:element name="double" type="bb:DMLDoubleFieldDataType" />
      <xs:element name="binary" type="bb:DMLBinaryFieldDataType" />
      <xs:element name="file" type="bb:DMLFileFieldDataType" />
      <xs:element name="image" type="bb:DMLImageFieldDataType" />
      <xs:element name="version" type="bb:DMLVersionFieldDataType" />
      <xs:element name="duration" type="bb:DMLDurationFieldDataType" />
      <xs:element name="enum" type="bb:DMLEnumFieldDataType" />
      <xs:element name="json" type="bb:DMLJsonFieldDataType" />
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="DMLObjectFieldDataType">
    <xs:attribute name="specialType" use="required" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="DMLDictionaryFieldDataType">
    <xs:all>
      <xs:element name="valueType" type="bb:DMLDictionaryFilteredFieldDataType" />
    </xs:all>
  </xs:complexType>
  <xs:complexType name="DMLDictionaryFilteredFieldDataType">
    <xs:choice>
      <xs:element name="guid" type="bb:DMLGuidFieldDataType" />
      <xs:element name="string" type="bb:DMLStringFieldDataType" />
      <xs:element name="dateTime" type="bb:DMLDateTimeFieldDataType" />
      <xs:element name="boolean" type="bb:DMLBooleanFieldDataType" />
      <xs:element name="byte" type="bb:DMLByteFieldDataType" />
      <xs:element name="short" type="bb:DMLShortFieldDataType" />
      <xs:element name="int" type="bb:DMLIntFieldDataType" />
      <xs:element name="long" type="bb:DMLLongFieldDataType" />
      <xs:element name="float" type="bb:DMLFloatFieldDataType" />
      <xs:element name="decimal" type="bb:DMLDecimalFieldDataType" />
      <xs:element name="double" type="bb:DMLDoubleFieldDataType" />
      <xs:element name="duration" type="bb:DMLDurationFieldDataType" />
      <xs:element name="enum" type="bb:DMLEnumFieldDataType" />
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="DMLGuidFieldDataType" />
  <xs:complexType name="DMLStringFieldDataType" />
  <xs:complexType name="DMLDateTimeFieldDataType" />
  <xs:complexType name="DMLBooleanFieldDataType" />
  <xs:complexType name="DMLByteFieldDataType" />
  <xs:complexType name="DMLShortFieldDataType" />
  <xs:complexType name="DMLIntFieldDataType" />
  <xs:complexType name="DMLLongFieldDataType" />
  <xs:complexType name="DMLFloatFieldDataType" />
  <xs:complexType name="DMLDecimalFieldDataType" />
  <xs:complexType name="DMLDoubleFieldDataType" />
  <xs:complexType name="DMLDurationFieldDataType" />
  <xs:complexType name="DMLEnumFieldDataType">
    <xs:attribute name="name" use="required" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="DMLModelFieldDataType">
    <xs:attribute name="sourceModel" use="required" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="DMLCrossReferenceFieldDataType">
    <xs:all>
      <xs:element name="entityModels" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element name="entityModel" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:all>
    <xs:attribute name="interface" use="optional" type="xs:string" />
    <xs:attribute name="useCrossReferenceTypeWhenInterfaceProvided" use="optional" type="xs:boolean" />
  </xs:complexType>
  <xs:complexType name="DMLListFieldDataType">
    <xs:all>
      <xs:element name="elementType" type="bb:DMLListFilteredFieldDataType" />
    </xs:all>
  </xs:complexType>
  <xs:complexType name="DMLListFilteredFieldDataType">
    <xs:choice>
      <xs:element name="object" type="bb:DMLObjectFieldDataType" />
      <xs:element name="dictionary" type="bb:DMLDictionaryFieldDataType" />
      <xs:element name="model" type="bb:DMLModelFieldDataType" />
      <xs:element name="crossReference" type="bb:DMLCrossReferenceFieldDataType" />
      <xs:element name="guid" type="bb:DMLGuidFieldDataType" />
      <xs:element name="string" type="bb:DMLStringFieldDataType" />
      <xs:element name="dateTime" type="bb:DMLDateTimeFieldDataType" />
      <xs:element name="boolean" type="bb:DMLBooleanFieldDataType" />
      <xs:element name="byte" type="bb:DMLByteFieldDataType" />
      <xs:element name="short" type="bb:DMLShortFieldDataType" />
      <xs:element name="int" type="bb:DMLIntFieldDataType" />
      <xs:element name="long" type="bb:DMLLongFieldDataType" />
      <xs:element name="float" type="bb:DMLFloatFieldDataType" />
      <xs:element name="decimal" type="bb:DMLDecimalFieldDataType" />
      <xs:element name="double" type="bb:DMLDoubleFieldDataType" />
      <xs:element name="binary" type="bb:DMLBinaryFieldDataType" />
      <xs:element name="file" type="bb:DMLFileFieldDataType" />
      <xs:element name="image" type="bb:DMLImageFieldDataType" />
      <xs:element name="version" type="bb:DMLVersionFieldDataType" />
      <xs:element name="duration" type="bb:DMLDurationFieldDataType" />
      <xs:element name="enum" type="bb:DMLEnumFieldDataType" />
      <xs:element name="json" type="bb:DMLJsonFieldDataType" />
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="DMLBinaryFieldDataType" />
  <xs:complexType name="DMLFileFieldDataType" />
  <xs:complexType name="DMLImageFieldDataType" />
  <xs:complexType name="DMLVersionFieldDataType" />
  <xs:complexType name="DMLJsonFieldDataType">
    <xs:attribute name="schema" use="optional" type="xs:string" />
    <xs:attribute name="templateSelectionPolicy" type="bb:DMLJsonTemplateSelectionPolicy" use="optional" />
  </xs:complexType>
  <xs:simpleType name="DMLJsonTemplateSelectionPolicy">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Property" />
      <xs:enumeration value="BeforeCreate" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="DMLNotNullFieldValidator">
    <xs:attribute name="message" use="optional" type="xs:string" />
    <xs:attribute name="name" use="optional" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="DMLJsonSchemaFieldValidator">
    <xs:attribute name="message" use="optional" type="xs:string" />
    <xs:attribute name="name" use="optional" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="DMLBinaryFieldValidator">
    <xs:all>
      <xs:element name="mimeTypes" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence minOccurs="1" maxOccurs="unbounded">
            <xs:element name="mimeType" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:all>
    <xs:attribute name="maxSize" use="optional" type="xs:int" />
    <xs:attribute name="message" use="optional" type="xs:string" />
    <xs:attribute name="name" use="optional" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="DMLStringFieldValidator">
    <xs:attribute name="min" use="optional" type="xs:int" />
    <xs:attribute name="max" use="optional" type="xs:int" />
    <xs:attribute name="message" use="optional" type="xs:string" />
    <xs:attribute name="name" use="optional" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="DMLRegularExpressionFieldValidator">
    <xs:attribute name="pattern" use="required" type="xs:string" />
    <xs:attribute name="multiline" use="optional" type="xs:boolean" />
    <xs:attribute name="singleline" use="optional" type="xs:boolean" />
    <xs:attribute name="ignoreCase" use="optional" type="xs:boolean" />
    <xs:attribute name="message" use="optional" type="xs:string" />
    <xs:attribute name="name" use="optional" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="DMLCustomValidator">
    <xs:all>
      <xs:element name="expression" minOccurs="1" maxOccurs="1" type="xs:string" />
    </xs:all>
    <xs:attribute name="message" use="optional" type="xs:string" />
    <xs:attribute name="name" use="optional" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="DMLPrintPropertyToParameterBinding">
    <xs:attribute name="sourceProperty" use="required" type="xs:string" />
    <xs:attribute name="targetParameter" use="required" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="DMLPrintParameterToParameterBinding">
    <xs:attribute name="sourceParameter" use="required" type="xs:string" />
    <xs:attribute name="targetParameter" use="required" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="DMLIcon">
    <xs:choice>
      <xs:element name="simple" type="bb:DMLSimpleIcon" />
      <xs:element name="font" type="bb:DMLFontIcon" />
      <xs:element name="system" type="bb:DMLSystemIcon" />
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="DMLSimpleIcon">
    <xs:all>
      <xs:element name="content">
        <xs:complexType>
          <xs:attribute name="x-key" type="xs:string" />
        </xs:complexType>
      </xs:element>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="DMLFontIcon">
    <xs:attribute name="name" use="required" type="xs:string" />
    <xs:attribute name="color" use="optional" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="DMLSystemIcon">
    <xs:attribute name="type" type="bb:DMLSystemIconType" use="required" />
    <xs:attribute name="color" use="optional" type="xs:string" />
  </xs:complexType>
  <xs:simpleType name="DMLSystemIconType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Submit" />
      <xs:enumeration value="Cancel" />
      <xs:enumeration value="Apply" />
      <xs:enumeration value="Settings" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="DMLCustomOperationSecurityMember">
    <xs:attribute name="operation" use="required" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="DMLServiceMethodSecurityMember">
    <xs:attribute name="service" use="required" type="xs:string" />
    <xs:attribute name="method" use="required" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="DMLServiceSecurityMember">
    <xs:attribute name="service" use="required" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="DMLTaskSecurityMember">
    <xs:attribute name="task" use="required" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="DMLEntityCreateSecurityMember">
    <xs:attribute name="model" use="required" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="DMLEntityCustomCommandSecurityMember">
    <xs:attribute name="command" use="required" type="xs:string" />
    <xs:attribute name="model" use="required" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="DMLEntityDeleteSecurityMember">
    <xs:attribute name="model" use="required" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="DMLEntityLogSecurityMember">
    <xs:attribute name="model" use="required" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="DMLEntityPrintSecurityMember">
    <xs:attribute name="printTemplate" use="required" type="xs:string" />
    <xs:attribute name="model" use="required" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="DMLEntityReadSecurityMember">
    <xs:attribute name="model" use="required" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="DMLEntitySecurityTaskMember">
    <xs:attribute name="model" use="required" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="DMLEntityStateHistorySecurityMember">
    <xs:attribute name="model" use="required" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="DMLEntityTransitionSecurityMember">
    <xs:attribute name="transition" use="required" type="xs:string" />
    <xs:attribute name="model" use="required" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="DMLEntityUpdateSecurityMember">
    <xs:attribute name="model" use="required" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="DMLFormSecurityMember">
    <xs:attribute name="form" use="required" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="DMLGlobalCommandSecurityMember">
    <xs:attribute name="globalCommand" use="required" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="DMLProcessSecurityMember">
    <xs:attribute name="process" use="required" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="DMLReportSecurityMember">
    <xs:attribute name="report" use="required" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="DMLDeactivatedPrintTemplate">
    <xs:attribute name="printTemplate" use="required" type="xs:string" />
  </xs:complexType>
  <xs:simpleType name="BBDuration">
    <xs:annotation>
      <xs:documentation>pattern is (D.HH:MM:SS | D) In which D is days, HH is 2-digit 00-24 hour, MM is 2-digit 00-59 minute and SS is 2-digit second 00-59</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="^\d+|(\d+\.)?([01]\d|2[0-3]):([0-5]\d)(:[0-5]\d)?$" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>