.bigBangSchemas/DMLGlobalFilter.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.bigbang.io/dml/globalFilter" xmlns:bb="http://www.bigbang.io/dml/globalFilter">
  <xs:element name="configuration">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="globalFilter" type="bb:DMLGlobalFilter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="DMLGlobalFilter">
    <xs:all>
      <xs:element name="description" minOccurs="0" maxOccurs="1" type="xs:string" />
      <xs:element name="affectedModels" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element name="affectedModel" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:all>
    <xs:attribute name="name" use="required" type="xs:string" />
    <xs:attribute name="displayName" use="optional" type="xs:string" />
    <xs:attribute name="model" use="required" type="xs:string" />
    <xs:attribute name="mode" type="bb:DMLGlobalFilterMode" use="optional" />
  </xs:complexType>
  <xs:simpleType name="DMLGlobalFilterMode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Contact" />
      <xs:enumeration value="COP" />
      <xs:enumeration value="Session" />
      <xs:enumeration value="SessionWithDefaultContact" />
      <xs:enumeration value="SessionWithDefaultCOP" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="BBDuration">
    <xs:annotation>
      <xs:documentation>pattern is (D.HH:MM:SS | D) In which D is days, HH is 2-digit 00-24 hour, MM is 2-digit 00-59 minute and SS is 2-digit second 00-59</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="^\d+|(\d+\.)?([01]\d|2[0-3]):([0-5]\d)(:[0-5]\d)?$" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>