.bigBangSchemas/DMLMigration.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.bigbang.io/dml/migration" xmlns:bb="http://www.bigbang.io/dml/migration">
  <xs:element name="configuration">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="migration" type="bb:DMLMigration" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="DMLMigration">
    <xs:all>
      <xs:element name="migrations" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element name="migrationItem" type="bb:DMLMigrationItem" />
            <xs:element name="migrationGroup" type="bb:DMLMigrationGroup" />
          </xs:choice>
        </xs:complexType>
      </xs:element>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="DMLMigrationItem">
    <xs:all>
      <xs:element name="script">
        <xs:complexType>
          <xs:attribute name="x-key" type="xs:string" />
        </xs:complexType>
      </xs:element>
    </xs:all>
    <xs:attribute name="name" use="required" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="DMLMigrationGroup">
    <xs:all>
      <xs:element name="migrations" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element name="migrationItem" type="bb:DMLMigrationItem" />
            <xs:element name="migrationGroup" type="bb:DMLMigrationGroup" />
          </xs:choice>
        </xs:complexType>
      </xs:element>
    </xs:all>
    <xs:attribute name="name" use="required" type="xs:string" />
  </xs:complexType>
  <xs:simpleType name="BBDuration">
    <xs:annotation>
      <xs:documentation>pattern is (D.HH:MM:SS | D) In which D is days, HH is 2-digit 00-24 hour, MM is 2-digit 00-59 minute and SS is 2-digit second 00-59</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="^\d+|(\d+\.)?([01]\d|2[0-3]):([0-5]\d)(:[0-5]\d)?$" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>