.bigBangSchemas/DMLMessageCode.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.bigbang.io/dml/messageCode" xmlns:bb="http://www.bigbang.io/dml/messageCode">
  <xs:element name="configuration">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="messageCode" type="bb:DMLMessageCode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="DMLMessageCode">
    <xs:all>
      <xs:element name="informationCodes" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:choice minOccurs="1" maxOccurs="unbounded">
            <xs:element name="information" type="bb:DMLMessageInformationCodeItem" />
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="errorCodes" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:choice minOccurs="1" maxOccurs="unbounded">
            <xs:element name="error" type="bb:DMLMessageErrorCodeItem" />
          </xs:choice>
        </xs:complexType>
      </xs:element>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="DMLMessageInformationCodeItem">
    <xs:all>
      <xs:element name="description" minOccurs="1" maxOccurs="1" type="xs:string" />
    </xs:all>
    <xs:attribute name="code" use="required">
      <xs:annotation>
        <xs:documentation>Name of code must be matched by this pattern: ^[A-Za-z_][A-Za-z0-9_]*$</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:pattern value="^[A-Za-z_][A-Za-z0-9_]*$" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="DMLMessageErrorCodeItem">
    <xs:all>
      <xs:element name="description" minOccurs="1" maxOccurs="1" type="xs:string" />
    </xs:all>
    <xs:attribute name="code" use="required">
      <xs:annotation>
        <xs:documentation>Name of code must be matched by this pattern: ^[A-Za-z_][A-Za-z0-9_]*$</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:pattern value="^[A-Za-z_][A-Za-z0-9_]*$" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:simpleType name="BBDuration">
    <xs:annotation>
      <xs:documentation>pattern is (D.HH:MM:SS | D) In which D is days, HH is 2-digit 00-24 hour, MM is 2-digit 00-59 minute and SS is 2-digit second 00-59</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="^\d+|(\d+\.)?([01]\d|2[0-3]):([0-5]\d)(:[0-5]\d)?$" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>