.bigBangSchemas/DMLSyncEntityModel.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.bigbang.io/dml/syncEntityModel" xmlns:bb="http://www.bigbang.io/dml/syncEntityModel">
  <xs:element name="configuration">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="syncEntityModel" type="bb:DMLSyncEntityModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="DMLSyncEntityModel">
    <xs:all>
      <xs:element name="bindings">
        <xs:annotation>
          <xs:documentation>This collection is to copy from source model to target model properties.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element name="binding" type="bb:DMLSyncEntityModelBinding" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:all>
    <xs:attribute name="name" use="required" type="xs:string" />
    <xs:attribute name="sourceModel" use="required" type="xs:string">
      <xs:annotation>
        <xs:documentation>The source model can be found in the current application or other applications.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="targetModel" use="required">
      <xs:annotation>
        <xs:documentation>The target model always finds in the current application.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:pattern value="^[A-Za-z_][A-Za-z0-9_]*$" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="DMLSyncEntityModelBinding">
    <xs:attribute name="sourceProperty" use="required" type="xs:string" />
    <xs:attribute name="targetProperty" use="required" type="xs:string" />
  </xs:complexType>
  <xs:simpleType name="BBDuration">
    <xs:annotation>
      <xs:documentation>pattern is (D.HH:MM:SS | D) In which D is days, HH is 2-digit 00-24 hour, MM is 2-digit 00-59 minute and SS is 2-digit second 00-59</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="^\d+|(\d+\.)?([01]\d|2[0-3]):([0-5]\d)(:[0-5]\d)?$" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>